<?xml version="1.0" encoding="utf-8" ?>
<webSiteSection>
  <login url="/ultra/Pages/Authentication/Logon.aspx" domain="localhost:4042" useEncryption="true" />
  <defaultDbConnection name="MSSQL" />
  <dbConnectionStrings>


    <!--<dbServer name="MSSQL" connectionString="server=tcp:bkrseos0125,54345;database=Ultra;uid=easadmin;pwd=Qhdskan150" providerName="" />-->
    <dbServer name="MSSQL" connectionString="server=BSGSGPS0839\APPD86,54647;database=Ultra;Trusted_Connection=True" providerName="" />
    <!--<dbServer name="MSSQL" connectionString="Data Source=(local);Initial Catalog=UltraDev;User ID=sa;Password=password1!"/>
    -->
  </dbConnectionStrings>
  <wcfServices>
    <commonService url="http://localhost:4042/ultra-svc/UltraCommon.svc"/>
    <eventService url="http://localhost:4042/ultra-svc/UltraEvent.svc"/>
    <medicalService url="http://localhost:4042/ultra-svc/UltraMedical.svc"/>
    <reportService url="http://localhost:4042/ultra-svc/UltraReport.svc"/>
    <radiologyService url="http://localhost:4042/ultra-svc/UltraRadiology.svc"/>
  </wcfServices>
  <activeDirectory domainName="AD.BAYER.CNB" fqdn="AD.BAYER.CNB" netBios="AD.BAYER.CNB" ldapPath="LDAP://AD-BAYER-CNB" />
  <!--
  <smtpManager smtpServer="smtp.naver.com" mailDomain="naver.com" serder="loki_park@naver.com" ps="" eventUrl="http://localhost/Ultra/Pages/Event/" mailFormat="D:\Ultra-Dev\10.Web\ultra\Config\MailFormat.xml"></smtpManager>
  -->
  <localDevelop used="true">
    <developUser id="BKKWK" password="1234" />
  </localDevelop>
  <webServer>
    <uploadHandler url="/ultra/Handler/FileHandler.ashx" excel="/ultra/Handler/ExcelFileHandler.ashx"/>
    <uploadFile>
      <temp physicalPath="C:\Temp\ultra\upload\temp" downloadUrl=""></temp>
      <attach physicalPath="C:\Temp\ultra\upload\attach" downloadUrl=""></attach>
      <electronicSign physicalPath="C:\temp\ultra\10.Web\ultra\Pages\Report\ElectronicDocs" downloadUrl="http://localhost:4042/ultra/Pages/Report/ElectronicDocs/"></electronicSign>
    </uploadFile>
  </webServer>
  <userConfiguration listCount="20"/>
  <clientScriptVariables>
    <add key="COMMON_SERVICE_URL" path="wcfServices/commonService" attr="url"/>
    <add key="EVENT_SERVICE_URL" path="wcfServices/eventService" attr="url"/>
    <add key="MEDICAL_SERVICE_URL" path="wcfServices/medicalService" attr="url"/>
    <add key="REPORT_SERVICE_URL" path="wcfServices/reportService" attr="url"/>
    <add key="RADIOLOGY_SERVICE_URL" path="wcfServices/radiologyService" attr="url"/>
    <add key="UPLOAD_HANDLER_URL" path="webServer/uploadHandler" attr="url"/>
    <add key="UPLOAD_EXCEL_HANDLER_URL" path="webServer/uploadHandler" attr="excel"/>
    <add key="UPLOAD_FILE_TEMP" path="webServer/uploadFile/temp" attr="physicalPath" />
    <add key="UPLOAD_FILE_ATTACH" path="webServer/uploadFile/attach" attr="physicalPath"/>
    <add key="DOWNLOAD_URL_ATTACH" path="webServer/uploadFile/attach" attr="downloadUrl"/>
    <add key="DIALOGWIDTH" value="425"/>
    <add key="DIALOGHEIGHT" value="450"/>
    <add key="GRID_LIST_COUNT" path="userConfiguration" attr="listCount"></add>
    <!--
    <add key="NONONEKEY_APPROVER" value="sumin.jo@bayer.com|daero.lee@bayer.com"/>
    <add key="NONONEKEY_CC" value="Jaehoon.CHUNG@iqvia.com|sumin.jo@bayer.com|daero.lee@bayer.com"/>
    <add key="NONONEKEY_IQVIA" value="Mina.KIM@iqvia.com"/>
    -->
  </clientScriptVariables>
  <ultraInfo>
    <pages help="" error="/ultra/Pages/ErrorPage.html" />
  </ultraInfo>
</webSiteSection>
