<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>

  <configSections>
    <sectionGroup name="dotnetsoftConfigGroup">
      <section name="webSiteSection"  type="Bayer.Ultra.Framework.Config.WebSiteSection, Bayer.Ultra.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <dotnetsoftConfigGroup >
    <webSiteSection configSource=".\Config\WebService.config"></webSiteSection>
  </dotnetsoftConfigGroup>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
	<anonymousIdentification enabled="true" />

    <identity impersonate="true" userName="AD-BAYER-CNB\GIDCJ" password="qazwsxedcQ1001!"/>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
	<validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="Bayer.Ultra.WcfBase.UltraCommon" behaviorConfiguration="ultarServiceBehavior">
        <endpoint address="" binding="webHttpBinding"  bindingConfiguration="crossDomain"
          contract="Bayer.Ultra.WcfBase.IUltraCommon" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Bayer.Ultra.WcfBase.UltraEvent" behaviorConfiguration="ultarServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="crossDomain"
          contract="Bayer.Ultra.WcfBase.IUltraEvent" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Bayer.Ultra.WcfBase.UltraMedical" behaviorConfiguration="ultarServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="crossDomain"
          contract="Bayer.Ultra.WcfBase.IUltraMedical" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Bayer.Ultra.WcfBase.UltraReport" behaviorConfiguration="ultarServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="crossDomain"
          contract="Bayer.Ultra.WcfBase.IUltraReport" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Bayer.Ultra.WcfBase.UltraRadiology" behaviorConfiguration="ultarServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="crossDomain"
          contract="Bayer.Ultra.WcfBase.IUltraRadiology" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ultarServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
