<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->
<configuration>
  <configSections>
    <sectionGroup name="dotnetsoftConfigGroup">
      <section name="webSiteSection" type="Bayer.Ultra.Framework.Config.WebSiteSection, Bayer.Ultra.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <dotnetsoftConfigGroup>
    <webSiteSection configSource=".\Config\WebSite.config"/>
  </dotnetsoftConfigGroup>
  
  <system.web>

    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="52100" />
    <sessionState timeout="3000" regenerateExpiredSessionId="true"/>
    
    <!--
    <pages enableEventValidation="false"></pages>
    <authentication mode="Windows">
      <forms loginUrl="~/Pages/Main.aspx" timeout="2880" />
    </authentication>
    <anonymousIdentification enabled="true" />
-->
    <authentication mode="Windows" />

    <identity impersonate="true" userName="AD-BAYER-CNB\GIDCJ" password="wsxedcrfvW1001!"/>
    
    <!--
    <authentication mode="Windows" >
      <forms loginUrl="~/Pages/Main.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
   -->
    
    
    
    
    
    
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD,DELETE,OPTIONS" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="SimpleHandlerFactory-Integrated-WithPutDelete" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>

  
</configuration>