<?xml version="1.0" encoding="utf-8" ?>
<webSiteSection>
  <login url="/ultra/Pages/Authentication/Logon.aspx"  domain="10.43.48.17" useEncryption="true"  />
  <activeDirectory domainName="AD.BAYER.CNB" fqdn="AD.BAYER.CNB" netBios="AD.BAYER.CNB" ldapPath="LDAP://ad-bayer-cnb" />
  <smtpManager smtpServer="exsmtp.de.bayer.cnb" mailDomain="bayer.com" serder="UlTra_System_test@bayer.com" ps="" eventUrl="http://localhost/Ultra/Pages/Event/" mailFormat="C:\Temp\Ultra\10.Web\ultra\Config\MailFormat.xml"></smtpManager>
  <defaultDbConnection name="MSSQL" />
  <dbConnectionStrings>

    <dbServer name="MSSQL" connectionString="server=BSGSGPS0839\APPD86,54647;database=Ultra;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  </dbConnectionStrings>
  <webServer>
    <uploadHandler url="/ultra/Handler/FileHandler.ashx" excel="/ultra/Handler/ExcelFileHandler.ashx"/>
    <uploadFile>
      <temp physicalPath="C:\Temp\ultra\upload\temp" downloadUrl=""></temp>
      <attach physicalPath="C:\Temp\ultra\upload\attach" downloadUrl=""></attach>
      <electronicSign physicalPath="c:\temp\Ultra\10.Web\ultra\Pages\Report\ElectronicDocs" downloadUrl="http://localhost:4042/ultra/Pages/Report/ElectronicDocs/"></electronicSign>
    </uploadFile>
  </webServer>
</webSiteSection>

